/*   fonts  */

@font-face {
    font-family: 'PoppinsRegular';
    src: url('./../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsExtraLight';
    src: url('./../fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('./../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('./../fonts/Poppins-SemiBold.ttf');
}


/* global css  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    color: #232323;
    text-decoration: none;
}

input,
button {
    outline: none;
}

button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    pointer-events: all;
}

ul,
ol,
figure {
    list-style: none;
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

body {
    font-family: 'PoppinsRegular';
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}

/* slick btn css */

.slick-arrow {
    position: absolute;
    bottom: 32px;
    right: 30px;
    text-indent: -99999px;
}

.slick-prev{
    right: 100px;
    z-index: 1;
}

.slick-prev::after {
    content:  "";
    position: absolute;
    display: block;
    background: url('./../images/left-arrow.png') no-repeat;
    width: 13px;
    height: 23px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slick-next::after {
    content:  "";
    position: absolute;
    display: block;
    background: url('./../images/right-arrow.png') no-repeat;
    width: 13px;
    height: 23px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* hospital card */

.hp-card {
    background-image: linear-gradient(#434343, #0F1217);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.hp-card h5 {
    color: #fff;
    font-family: 'PoppinsRegular';
    margin: 0 0 20px;
}

.hp-card::after {
    content: "";
    display: block;
    position: absolute;
    width: 130%;
    height: 100%;
    top: 55%;
    background-color: #fff;
    opacity: 0.05;
    transform: rotateZ(12deg);
}

.wrapper {
    background: url('./../images/app-background.png') no-repeat top center;
    background-size: cover;
    max-width: 1280px;
    margin: 0 auto;
}


/* controller */

.controler {
    width: 80%;
    position: relative;
    z-index: 1;
}

.controler .action-btn {
    min-width: 38px;
    height: 38px;
    border-radius: 3px;
    margin: 0 20px 0 0;
    background-image: linear-gradient(#E6E6E6, #FFFFFF);
}

.controler .action-btn img {
    vertical-align: bottom;
}

.controler button.action-btn:nth-child(3) {
    margin: 0 0 0 20px;
}

.controler .slider-bar {
    width: 527px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(#E6E6E6, #FFFFFF);
    border-radius: 10px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
    position: relative;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 65px;
    height: 65px;
    background: url('./../images/range-icon.png') no-repeat center;
    cursor: pointer;
    position: relative;
    background-size: cover;
    margin: 5px 0 0;
}


/* header css */

.header {
    padding: 24px 20px 0 17px;
    display: flex;
    justify-content: space-between;
}

.header .logo img {
    width: 100%;
}

.header .time-wrap {
    text-align: center;
    margin: 0 47px 0 0;
    color: #232323;
}

.header .time-wrap .time {
    font-size: 75px;
    line-height: 1;
    font-family: 'PoppinsExtraLight';
}

.header .time-wrap .date {
    font-size: 20px;
    font-family: 'PoppinsLight';
}

.header .weather span {
    font-size: 20px;
    font-family: 'PoppinsLight';
}

.header .weather svg {
    margin: 0 0 11px;
    width: 80px;
}

.header .toggler-btn {
    display: none;
}


/* homes css */

.home {
    padding: 32px 0 0 138px;
}

.hp-row {
    display: flex;
    flex-wrap: wrap;
}

.hp-row .hp-card {
    min-width: 234px;
    min-height: 245px;
    margin: 0 20px 15px 0;
}

.hp-row .hp-card h5 {
    font-size: 30px;
}

.home .fav-title {
    font-weight: 400;
    font-size: 22px;
    margin: 37px 0 0;
}

.fav-row {
    display: flex;
    padding: 15px 0 20px;
}

.fav-row .hp-card {
    min-width: 132px;
    min-height: 140px;
    margin: 0 15px 0 0;
}

.fav-row .hp-card img {
    width: 55px;
}

.fav-row .hp-card h5 {
    font-size: 16px;
}


/* nav css */

.nav-bar {
    overflow: hidden;
}

.nav-bar .menu {
    display: flex;
    padding: 20px 0 0;
    height: 117px;
}

.nav-bar .menu li.menu-item:not(:nth-child(4)) {
    background: #ffffff;
}

.nav-bar .menu li.menu-item:last-child {
    display: none;
}

.nav-bar .menu li.menu-item .gradient-shape {
    display: block;
    background: #fff;
    height: 102%;
}

.nav-bar .menu li.menu-item .shape .link {
    text-align: center;
    display: block;
    padding: 20px 0 10px;
}

.nav-bar .menu li.menu-item .shape .link span {
    display: block;
    margin: 5px 0 0;
}

.nav-bar .menu li.menu-item:nth-child(1) {
    z-index: 3;
}

.nav-bar .menu li.menu-item:nth-child(2) {
    z-index: 2;
}

.nav-bar .menu li.menu-item:nth-child(3) {
    z-index: 1;
    background: transparent;
}

.nav-bar .menu li.menu-item:nth-child(5) {
    background: transparent;
}

.nav-bar .menu li.menu-item:nth-child(n+5) {
    min-width: calc(100% / 7);
}

.nav-bar .menu li.menu-item:nth-child(n+5) .shape {
    transform: skewX(-28deg);
    border-radius: 38px 0 0;
    box-shadow: -12px 0px 12px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(20deg,#ffffff,#b1b1b1,#ffffff); 
    padding: 2px 0 0 3px; 
}

.nav-bar .menu .menu-item:nth-child(-n+3) .shape{
    background: linear-gradient(-20deg,#ffffff,#b1b1b1,#ffffff);    
    padding: 2px 3px 0 0;
    box-shadow: 12px 0px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 38px 0 0;
    transform: skewX(28deg);
}

.nav-bar .menu .menu-item:nth-child(n+5) .shape .link {
    transform: skewX(28deg);
}

.nav-bar .menu .menu-item:nth-child(-n+3) {
    min-width: calc(100% / 7.5);
}

.nav-bar .menu .menu-item:nth-child(n+5) .gradient-shape {
    border-radius: 38px 0 0;
}

.nav-bar .menu .menu-item:nth-child(-n+3) .gradient-shape {
    border-radius: 0 38px 0 0;
}

.nav-bar .menu .menu-item:nth-child(-n+3) .shape .link {
    transform: skewX(-28deg);
}

.nav-bar .menu .menu-item:nth-child(4) {
    min-width: calc(100% / 5);
    z-index: 2;
}

.nav-bar .menu .menu-item:nth-child(4) .gradient-shape {
    border-radius: 38px 38px 0 0;
    box-shadow: 0px 66px 20px 51px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 68%;
    margin: 0 auto;
    border-top: 2px solid #c7c7c7;
}

.nav-bar .menu .menu-item:nth-child(4) .gradient-shape::before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #FFF;
    left: -20px;
    -webkit-transform: skew(-36deg, 0deg);
    transform: skew(-36deg, 0deg);
    border-radius: 25px 0 0 0;
}

.nav-bar .menu .menu-item:nth-child(4) .gradient-shape::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #FFF;
    right: -20px;
    -webkit-transform: skew(36deg, 0deg);
    transform: skew(36deg, 0deg);
    border-radius: 0 25px 0 0;
}

.nav-bar .menu .active.menu-item:nth-child(n+5) .shape {
    background: linear-gradient(30deg,#ffffff,#FF875D,#ffffff); 
    box-shadow: -13px 24px 45px 0 #ffc10766;
}

.nav-bar .menu .active.menu-item:nth-child(-n+3) .shape {
    background: linear-gradient(-30deg,#ffffff,#FF875D,#ffffff); 
    box-shadow: 10px 4px 10px 0 #ffc10766;
}

.nav-bar .menu .active.menu-item:nth-child(4) .gradient-shape {
    box-shadow: 0px 66px 20px 51px #ffc10766;
    border-top: 2px solid #ff875da3;
}

.nav-bar .menu .menu-item.active .shape svg #day-version-2 path,
.nav-bar .menu .menu-item.active .shape svg #day-version-2 {
   fill: url(#hover-effect);
   stroke: url(#hover-effect);
}

.videos-wrapper .video .afterglow {
   display: none;
}


/* volume css */

.volume {
    padding: 32px 0 0 97px;
}

.volume-wrapper {
    margin: 90px auto 184px;
    max-width: 980px;
    border-radius: 15px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(#434343, #0F1217);
    padding: 70px 48px;
}


/* licht css */

.licht {
    padding: 32px 15px 82px 97px;
}

.licht-wrapper {
    margin: 53px 0 0 12px;
    padding: 0 0 0 72px;
    display: flex;
}

.licht-wrapper .hp-card {
    padding: 15px 28px 24px;
    width: 426px;
}

.licht-wrapper .hp-card:nth-child(1) {
    margin: 0 35px 0 0;
}

.licht-wrapper .hp-card figure {
    margin: 41px 0 68px;
}


/* Profile */

.profile {
    padding: 32px 0 0 138px;
    max-width: 1230px;
}

.profile .hp-row {
    margin: 36px auto 184px;
}

.profile .hp-row .hp-card {
    justify-content: start;
    padding: 20px;
    min-width: 240px;
    min-height: 227px;
}

.profile .hp-row .hp-card h5 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 55px;
}

.profile .hp-media {
    min-width: 204px;
    min-height: 215px;
}


/* hotelindustry */

.hotelindustry {
    display: grid;
}


/* mydates */

.datesmain {
    display: block;
}

.datescolumn {
    color: #fff;
    min-width: 234px;
    min-height: 245px;
    margin: 0 22px 15px 0;
    background: linear-gradient(180deg, #434343, #0F1217);
    margin: 36px auto 184px;
}


/* media deatails >> Entertainment */

.mini-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    width: 191px;
    height: 48px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #0000004f;
    position: relative;
    justify-content: center;
}

.mini-column h5 {
    margin: 0px 0px 0px 8px;
}

.hp-row .mini-column {
    margin: 0 30px 15px 5px;
}


/* settings css */

.hp-row .settings-card {
    text-align: center;
    min-width: 500px;
    min-height: 356px;
    background-color: #ffffff;
    background-image: none;
}

.hp-row .settings-card p {
    margin: 14px 0 0 0;
}

video {
    border-radius: 10px;
}


/* bed css */

.bed {
    max-width: 1050px;
    text-align: right;
    display: flex;
    position: relative;
}

.bed svg {
    width: 100%;
}

.profile+.controler {
    max-width: 430px;
    margin: 45px auto 70px;
}

.bed .vertical-controller {
    position: absolute;
    top: 36%;
    right: -10%;
    transform: rotate(90deg);
    width: 316px;
}

.bed .vertical-controller .slider {}


/* music css */

.music .active-music {
    margin: 0 30px 0 0;
}

.music .active-music .music-img {
    width: 154px;
    height: 148px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.music .active-music .music-img::after {
    content: "";
    display: block;
    width: 100%;
    background-image: linear-gradient(#00000000, #000000ad);
    position: absolute;
    height: 50%;
    bottom: 0;
}

.music .play-list {
    width: 74%;
    position: relative;
}


/* player controler css */

.player {
    background: linear-gradient(#434343, #0F1217);
    position: absolute;
    right: 0;
    transform: translateY(-125%);
    width: 502px;
    flex-wrap: wrap;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
}

.player .volume {
    display: none;
}

.player .title {
    font-family: 'PoppinsSemiBold';
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 82px;
    z-index: 1;
    width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player .cover {
    border-radius: 3px;
    height: 57px;
    width: 63px;
    background-size: cover;
}

.player .progressbar {
    background-color: #626366;
    cursor: pointer;
    z-index: 1;
    height: 6px;
    position: absolute;
    bottom: 17px;
    margin: 0 23%;
    z-index: 1;
    width: 39%;
    border-radius: 8px;
    overflow: hidden;
}

.controls {
    display: flex;
    align-items: center;
    min-width: 130px;
    justify-content: space-around;
}

.controls div {
    cursor: pointer;
}

.controls .stop {
    display: none;
}

.controls .play,
.controls .pause {
    width: 25px;
    height: 25px;
    margin: 0 5px 0px 5px;
}

.controls .rew,
.controls .fwd {
    width: 22px;
    height: 26px;
    margin: 5px 5px 5px 5px;
}

.controls .play {
    background: url("./../images/pause-icon.png") no-repeat;
}

.controls .pause {
    background: url("./../images/play-icon.png") no-repeat;
    display: none;
}

.controls .rew {
    background: url("./../images/back-icon.png") no-repeat;
}

.controls .fwd {
    background: url("./../images/next-icon.png") no-repeat;
}

.hidden {
    display: none;
}

.controls .visible {
    display: block;
}

.progressbar div {
    width: 0%;
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
}

.bar-loaded {
    display: none;
}

.bar-played {
    background: #fff;
    z-index: 2;
}

.timeHolder {
    bottom: 10px;
    position: absolute;
    margin: 0px 15%;
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.time-current,
.time-duration {
    color: #ffffff;
    font-size: 12px;
}

.time-separator {
    display: none;
}


/* player list */

.playlist li {
    color: #151b48;
    cursor: pointer;
    padding: 13px 14px 15px;
    border-bottom: 1px dashed #D8D8D8;
}

.playlist li:first-child {
    padding: 0 14px 15px;
}

.playlist li:last-child {
    border-bottom: none;
}

.playlist li>a {
    color: #232323;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.playlist li>a span {
    min-width: 26px;
    display: inline-block;
}

.playlist li.active>a span::after {
    content: "";
    background: url('./../images/music-bars.png') no-repeat;
    display: inline-block;
    width: 15px;
    height: 14px;
    margin: 0 17px 0;
}


/* modal css */

.modal-content {
    border: none;
}

.modal-content .title {
    font-size: 32px;
    font-family: 'PoppinsSemiBold';
    margin: 0 0 0 18px;
}

.modal-content .subtitle {
    margin: 5px 0 0;
}

.modal-dialog {
    max-width: 770px;
}

.modal-body .modal-content {
    border-bottom: 1px dashed #D8D8D8;
}

.modal-body .modal-content:nth-child(2) {
    border-bottom: none;
    padding: 18px 0 0;
}

.modal-content .type {
    font-size: 18px;
    margin: 15px 0 10px;
}

.modal-content .doc-info {
    padding: 0 0 20px;
}

.modal-content .doc-info .doc-name {
    font-size: 18px;
}

.modal-content .doc-designation {
    font-size: 14px;
    display: block;
}

.modal-content .doc-info .doc-img {
    width: 100px;
    height: 94px;
    border-radius: 6px;
}

.modal-content .doc-info .about-doc {
    margin: 0 0 0 12px;
}

.modal-content .close {
    opacity: 1;
    position: absolute;
    right: 20px;
    z-index: 3;
    top: 15px;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}


/* calender css */

.calender {
    /* overflow: hidden; */
}

.calender .setting-appointment {
    justify-content: space-between;
    align-items: baseline;
}

.calender .setting-appointment .select-time>span {
    font-size: 22px;
    margin: 0 40px 0 0;
}

.calender .setting-appointment .date-piker {
    display: inline-flex;
    justify-content: space-between;
}

.calender .setting-appointment .date-piker span {
    font-size: 16px;
}

.calender .setting-appointment .btn {
    width: 268px;
    padding: 16px;
    height: auto;
}

.calender.profile .hp-row {
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0;
    padding: 14px 22px;
}

.calender.profile .hp-row .hp-card {
    min-width: 160px;
    min-height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.calender.profile .hp-row .hp-card:nth-child(2n) {
    margin-right: 15px;
}

.calender.profile .hp-row .hp-card div {
    margin: 3px 0 0;
}

.calender.profile .hp-row .hp-card h3 {
    margin: 0;
    font-size: 50px;
}

.calender.profile .hp-row .hp-card h5 {
    margin: 0;
    font-size: 16px;
}

.calender .slider-btn {
    margin: 105px 0 40px;
    text-align: right;
}

.slick-arrow,
.calender .slider-btn .btn {
    width: 50px;
    height: 50px;
    opacity: 1;
    background-image: linear-gradient(#E6E6E6, #FFFFFF);
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
    border-radius: 0;
    margin: 0 20px 0 0;
}

.calender.profile .hp-row::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.calender.profile .hp-row::-webkit-scrollbar {
    height: 9px;
    background-color: transparent;
}

.calender.profile .hp-row::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #DCDCDC;
}


/* Online Shop Coffee >> Coffee */

.coffee .hp-row {
    margin: 36px 0 0 0;
}

.btninput {
    display: flex;
    position: relative;
    z-index: 1;
}

.hp-card h6 {
    color: #ffffff;
    margin: 43px 0px 8px 0px;
    font-size: 18px;
}

.btninput input[type=number] {
    outline: none;
    background: #ffffff;
    border: none;
    width: 51px;
    height: 55px;
    border-radius: 6px;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    margin-right: 10px;
    text-align: center;
}

.btn {
    color: #232323 !important;
    background: linear-gradient(180deg, white, #a8a8a8);
    width: 135px;
    height: 55px;
    font-weight: 700;
    font-size: 24px;
    border-radius: 6px;
    border: none;
}

.card-padding {
    padding: 15px 0;
}

.card-padding h5 {
    font-size: 24px;
    ;
}

.coffee .hp-row .hp-card {
    width: 240px;
    height: 308px;
}

.item-price {
    display: flex;
    align-items: baseline;
    margin-bottom: 12px;
    justify-content: flex-end;
}

.btn1 {
    width: 177px;
    height: 58px;
    background: linear-gradient(180deg, #F39200, #E94E1B);
    color: #fff !important;
    font-size: 30px;
    ;
}

.item-total {
    margin-top: 6px;
    max-width: 1024px;
    text-align: right;
    margin-right: auto;
    width: 100%;
}

.item-price h3 {
    font-size: 24px;
}

.item-price h3 sup {
    font-size: 14px;
    top: -0.96em;
}

.item-price h4 {
    font-size: 24px;
    margin-right: 57px;
}

.item-price h5 {
    font-size: 20px;
    margin-right: 57px;
}

.item-price h6 {
    font-size: 18px;
}


/* garden css */

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    opacity: 1;
    background-image: linear-gradient(#E6E6E6, #FFFFFF);
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
}

.carousel-control-prev-icon {
    background: url('./../images/left-arrow.png') no-repeat;
    background-size: contain;
}

.carousel-control-next-icon {
    background: url('./../images/right-arrow.png') no-repeat;
    background-size: contain;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 13px;
    height: 23px;
}

.carousel-control-prev,
.carousel-control-next {
    left: unset;
    right: 0;
    bottom: 20px;
    top: unset;
}

.carousel-control-prev {
    right: 80px;
}

.garden-slider {
    max-width: 1060px;
    margin: 0 0 65px;
    position: relative;
}

.garden-slider .carousel-item {
    padding: 80px 10px 25px;
}

.garden-slider .slider-content {
    width: 80%;
    min-height: 560px;
    padding: 34px 0 0 37px;
}

.garden-slider .slider-content h3 {
    font-size: 24px;
}

.garden-slider .slider-content .para {
    width: 66%;
    padding: 14px 14px 14px 0;
    font-size: 17px;
    letter-spacing: 0.8px;
}

.garden-slider .slider-img {
    width: 46%;
    height: 424px;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
}

.garden-slider .slider-img img {
    object-fit: cover;
}


/* appointments css */

.appointments {
    display: block;
    margin: 36px 0 108px 0;
}

.appointments .appoint-column {
    color: #fff;
    align-items: baseline;
    display: flex;
    padding: 4px 25px 10px 25px;
    justify-content: space-between;
    background: linear-gradient(180deg, #434343, #0F1217);
    margin-bottom: 17px;
    border-radius: 6px;
}

.appoint-date {
    text-align: center;
}

.appoint-date h2 {
    font-size: 50px;
    display: inline-grid;
}

.appoint-date span {
    font-size: 16px;
}

.appoint-title {
    font-size: 22px;
}

.appoint-time {
    font-size: 22px;
}


/* card notes */

.notes .hp-row {
    padding: 36px 20px 40px;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 -20px;
}

.notes-card h5 {
    font-size: 18px;
    color: #232323;
    margin: 10px 0 20px 0;
}

.notes .notes-card p {
    color: #232323;
    font-size: 16px;
}

.notes .hp-row .notes-card {
    min-width: 264px;
    min-height: 237px;
    margin: 0 11px 31px 0;
    padding: 30px 17px;
    display: inline-block;
}

.notes-card {
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.45);
    overflow: hidden;
}

.notes .notes-card {
    margin: 0 22px 15px 0;
}

.notes .notes-card span {
    color: #7B7B7B;
    font-size: 12px;
    color: #7B7B7B;
    font-size: 12px;
    margin-right: 66px;
}

.notes-bar {
    width: 100%;
}

.notes-bar .bar {
    max-width: 1089px;
    padding: 16px 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 8px 14px #99999978;
}

.btn3 {
    display: block;
    margin: 0 0 0px auto;
    font-size: 18px;
    width: 194px;
    color: #ffffff !important;
    margin-top: 17px;
    background: linear-gradient(180deg, #434343, #0F1217);
    padding: 12px 0;
    border-radius: 6px;
}

.notes-bar .bar h5 {
    vertical-align: middle;
    margin-left: 17px;
    font-size: 22px;
}


/* album list css */

.album {
    max-width: 100%
}

.album-list {
    position: relative;
    margin: 55px 0 0;
}

.album-list .player {
    right: 70px;
    top: -15px;
}

.album-list .playlist li:first-child {
    padding: 0 15px 15px 0;
}

.album-list .playlist li {
    padding: 0 15px 15px 0;
    border-bottom: none
}

.album-list .playlist li:nth-child(7n) {
    padding: 0 0 15px 15px;
}

.album-list .playlist {
    display: flex;
    flex-wrap: wrap;
}

.album-list .playlist li figure {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.album-list .playlist li figure::after {
    content: "";
    display: block;
    width: 100%;
    background-image: linear-gradient(#00000000, #000000ad);
    position: absolute;
    height: 50%;
    bottom: 0;
}

.album-list .playlist li figcaption {
    display: none;
}

.album-list .playlist li figure img {
    width: 148px;
    object-fit: cover;
    border-radius: 6px;
}

.album-list .playlist li figure .album-info {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    left: 5%;
    right: 5%;
}

.album-list .playlist li figure .album-info span {
    color: #ffffff;
    font-size: 10px;
}

.album-list .playlist li figure .album-info span::after {
    display: none;
}

.album.calender .slider-btn {
    margin: 10px 0 40px;
}
/* videos CSS */

.videos{
    padding: 32px 0 0 96px;
    max-width: 100%;
    overflow: hidden;
}

.videos-wrapper {
    margin: 0 -26px 0 0;
}

.videos-wrapper .slick-list{
    padding: 44px 0 188px 10px;
    margin: 0 0 0 -10px;
    max-height: 530px;
    overflow: hidden;
}

.videos-wrapper .slick-slide  {
    margin: 0 20px 0 0;
}

.videos-wrapper .video .video-img {
    min-width: 170px;
    max-height: 168px;
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
 }

 .videos-wrapper .video .video-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
 }

.videos-wrapper .video .video-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.videos-wrapper .video .video-name {
   font-size: 18px;
   padding: 10px 8px 10px 10px;
}

.videos-wrapper .video .video-time{
    font-size: 13px;
   padding:  0 0 15px 10px;
   display: block;
}

.videos-wrapper .video .video-img {
  position: relative;
}

.videos-wrapper .video .video-img .play-btn {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%,-50%);
   border: 2px solid #ffffff;
   border-radius: 50%;
   width: 54px;
   height: 54px;
   z-index: 1;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffffff;
}

.videos-wrapper .play-video{
    width: 730px !important;
}

.videos-wrapper .play-video .video-name,
.videos-wrapper .play-video .video-time,
.videos-wrapper .play-video .video-img {
   display: none;
}

.videos-wrapper .play-video .afterglow {
    display: block;
    margin: -44px 0 0;
}

.videos-wrapper .slick-slide.slick-current:has(.video ) {
    background: red;
}

.videos-wrapper  .vjs-afterglow-skin .vjs-current-time,
.videos-wrapper  .vjs-afterglow-skin .vjs-duration{
    display: none;
}

.videos-wrapper .vjs-afterglow-skin .vjs-progress-control:hover{
  top: 14px;
}
.videos-wrapper .vjs-afterglow-skin .vjs-progress-control {
    top: 14px;
    height: 9px;  
}
.videos-wrapper .vjs-afterglow-skin .vjs-progress-holder:hover, 
.videos-wrapper .vjs-afterglow-skin .vjs-progress-holder {
    margin: 0 80px 0 38px;
}
.videos-wrapper .vjs-afterglow-skin .vjs-play-control {
    left: 20px;
    z-index: 1;
}
.videos-wrapper .vjs-afterglow-skin .vjs-top-control-bar{
   top: unset;
   bottom: 22px;
   right: 18px;
}

.videos-wrapper .vjs-afterglow-skin .vjs-menu-button.vjs-menu-button-inline {
    position: absolute;
    right: 42px;
}

.videos-wrapper .vjs-afterglow-skin .vjs-top-control-bar .vjs-fullscreen-control:before {
   content: url('./../images/full-screen.png');
}


/* Spotify */

.spotify-title h2{
    font-weight: 900;
}

.spotify-header {
    background: #060606;
    width: 100%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-header .title {
    color: #ffffff;
}

.playlist-section {
    width: 100%;
}

.playlist-section img{
    width: 100%;
    padding: 0 16px 0px 25px;
    background: #110F12;
}

.playlist-footer{
    width: 100%;
    margin: 0 0 26px;
}

.playlist-footer img{
    width: 100%;
}


/* TuneIn */

.tunein-title h2{
    font-weight: 900;
}

.tunein-header {
    background: #060606;
    width: 100%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tunein-header .title {
    color: #ffffff;
}

.playlist-tunein{
    width: 100%;
}

.playlist-tunein img{
    width: 100%;
    padding: 0 23px 0px 25px;
    background: #110F12;
}

.tunein-footer  {
    width: 100%;
    margin: 0 0 26px;
}

.tunein-footer img{
    width: 100%;
}


/* media queries */

@media only screen and (max-width:1200px) {
    .home {
        padding: 32px 0 0 7.5%;
    }
    .volume {
        padding: 32px 20px 0;
    }
    .nav-bar .menu .menu-item .link svg {
        width: 30px;
        height: 30px;
    }
    .nav-bar .menu .menu-item .link span {
        font-size: 16px;
        margin: 5px 0 0;
    }
    /* .nav-bar .menu .menu-item:nth-child(-n+3) {
        padding: 0 85px 0 0;
    }
    .nav-bar .menu .menu-item:nth-child(4) {
        padding: 15px 25px 0 0px;
    }
    .nav-bar .menu .menu-item:nth-child(3) {
        padding: 0 95px 0 0;
    } */
    .profile {
        padding: 32px 20px 0;
    }
}

@media only screen and (max-width:1024px) {
    main {
        min-height: calc(100vh - 196px);
    }
    .nav-bar {
        border-radius: 40px 40px 0 0;
        background: #fff;
        border-top: 2px solid #dfdfdf;
        padding: 0 12px;
    }
    .nav-bar .menu {
        align-items: baseline;
        height: auto;
        padding: 0;
    }
    .nav-bar .menu .menu-item {
        width: calc(100% / 5)!important;
        padding: 0 !important;
        background: transparent !important;
        position: relative;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        bottom: unset !important;
        transform: translate(0) !important;
    }

    .nav-bar .menu li.menu-item .shape .gradient-shape,
    .nav-bar .menu .menu-item:nth-child(n+5) .shape::after,
    .nav-bar .menu li.menu-item .shape {
        display: contents;
    }
    .nav-bar .menu .menu-item:nth-child(n+5) .shape .link {
        transform: none;
        padding: 0;
    }
    .nav-bar .menu .menu-item .link span {
        font-size: 12px;
        margin: 0;
    }
    .nav-bar .menu .menu-item .link svg {
        width: 25px;
        height: 22px;
    }
    .nav-bar .menu .menu-item:nth-child(-n+3) {
        display: none;
    }
    .nav-bar .menu li.menu-item:last-child {
        display: block;
    }
    .nav-bar .menu .menu-item .link {
        padding: 0;
        right: 0 !important;
    }
    .nav-bar .menu .menu-item:nth-child(4) .gradient-shape::after,
    .nav-bar .menu .menu-item:nth-child(4) .gradient-shape::before {
        display: none;
    }
    .nav-bar .menu .menu-item:nth-child(6) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item:nth-child(5) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item:nth-child(3) .link,
    .nav-bar .menu .menu-item:nth-child(2) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item .link.active #Shape,
    .nav-bar .menu .menu-item .link.active #day-version-2 path,
    .nav-bar .menu .menu-item .link.active #day-version-2 {
        fill: #ED6E0E;
        stroke: #ED6E0E;
    }

    .nav-bar .menu li.menu-item .shape .link {
        padding: 6px 0 5px;
    }
}

@media only screen and (max-width:991px) {
    .licht {
        padding: 32px 5% 82px;
    }
    .licht-wrapper {
        margin: 53px 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .licht-wrapper .hp-card:nth-child(1) {
        margin: 0 0 30px;
    }
    .licht-wrapper .hp-card {
        max-width: 450px;
        width: 100%;
    }
    .controler .action-btn {
        width: 28px;
        height: 28px;
    }
    .controler .action-btn img {
        width: 8px;
        position: relative;
        top: -5px;
    }
    .volume-wrapper .icon {
        width: 50px;
        margin: 0 15px 0 0;
    }
    .volume-wrapper .icon:nth-child(3) {
        margin: 0 0 0 15px;
    }
    .controler .volume-bar {
        height: 8px;
    }
    .controler .volume-bar .vc-btn {
        width: 30px;
        height: 30px;
    }
    .controler .volume-bar .vc-btn img {
        width: 12px;
    }
    .controler .volume-wrapper {
        padding: 35px 24px;
        margin: 90px auto 120px;
    }
    .nav-bar {
        border-radius: 40px 40px 0 0;
        background: #fff;
        border-top: 2px solid #dfdfdf;
        padding: 0 12px;
    }
    .nav-bar .menu {
        pointer-events: all;
        align-items: baseline;
        height: auto;
        display: flex;
    }
    .nav-bar .menu .menu-item {
        width: calc(100% / 5)!important;
        padding: 0 !important;
        background: transparent !important;
        position: relative;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        bottom: unset !important;
        transform: translate(0) !important;
    }
    .nav-bar .menu .menu-item .link span {
        font-size: 12px;
        margin: 0;
    }
    .nav-bar .menu .menu-item .link svg {
        width: 25px;
        height: 22px;
    }
    .nav-bar .menu .menu-item:nth-child(-n+3) {
        display: none;
    }
    .nav-bar .menu .menu-item:last-child {
        display: block;
    }
    .nav-bar .menu .menu-item .link {
        padding: 0;
        right: 0 !important;
    }
    .nav-bar .menu .menu-item:nth-child(6) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item:nth-child(5) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item:nth-child(3) .link,
    .nav-bar .menu .menu-item:nth-child(2) .link {
        padding: 10px 0 2px 0;
    }
    .nav-bar .menu .menu-item .link.active #Shape,
    .nav-bar .menu .menu-item .link.active #day-version-2 path,
    .nav-bar .menu .menu-item .link.active #day-version-2 {
        fill: #ED6E0E;
        stroke: #ED6E0E;
    }
    .bed svg {
        width: 80%;
    }
}

@media only screen and (max-width:767px) {
    main {
        min-height: calc(100vh - 136px);
    }
    .header {
        position: relative;
    }
    .header .logo {
        width: 200px;
        margin: 0 auto;
    }
    .header .toggler-btn {
        display: block;
        background: transparent;
        border: none;
    }
    .img {
        display: none;
    }
    .home {
        padding: 32px 0 0 25px;
    }
    .profile .hp-row .hp-card,
    .hp-row .hp-card {
        min-width: 160px;
        min-height: 160px;
        justify-content: unset;
        padding: 20px 0 0;
    }
    .hp-row .hp-card h5 {
        font-size: 20px;
    }
    .hp-row .hp-card .figure img {
        width: 54px;
    }
    .header .time-wrap {
        display: none;
    }
    .header .weather {
        display: none;
    }
    .profile .username h2 {
        font-size: 26px;
    }
    .profile .hp-row .hp-card h5 {
        margin: 0 0 20px;
    }
    .music .active-music {
        width: 100%;
    }
    .music .active-music .music-img {
        margin: 0 auto 120px;
    }
    .music .play-list {
        width: 100%;
    }
    .player {
        right: 50%;
        transform: translate(50%, -100%);
    }
    .album-list {
        margin: 120px 0 0;
    }
    .album-list .player {
        right: 50%;
        top: -20px;
    }
    .album-list .playlist {
        justify-content: center;
    }
    .album-list .playlist li:nth-child(7n) {
        padding: 0 15px 15px 0;
    }
    .playlist {
        margin: 30px 0;
    }
    .bed .vertical-controller {
        right: -17%;
    }
    .item-total {
        text-align: center;
    }
    .item-price {
        justify-content: space-evenly;
    }
    .appointments .appoint-column {
        color: #fff;
        align-items: baseline;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4px 25px 10px 25px;
        justify-content: space-between;
        background: linear-gradient(180deg, #434343, #0F1217);
        margin-bottom: 17px;
        border-radius: 6px;
    }
    .appoint-title p {
        margin: 16px 0;
    }
    .coffee .hp-row {
        justify-content: center;
    }
    .calender.profile .hp-row {
        padding: 14px 35px;
        justify-content: start;
    }
}

@media only screen and (max-width:640px) {
    .hp-row {
        padding: 0 20px;
    }
    .hp-row .hp-card {
        margin: 0 15px 15px 0;
    }
    .home {
        padding: 32px 0 0;
    }
    .home .fav-title {
        margin: 37px 0 0 20px;
    }
    .fav-row {
        padding: 15px 20px 60px;
        overflow: auto;
        pointer-events: all;
    }
    .nav-bar {
        margin: 0;
    }
    .volume-bar .vc-btn {
        left: 10px;
    }
    .profile {
        padding: 32px 0 0 0;
    }
    .profile .hp-row {
        margin: 59px 0 0 0;
    }
    .bed {
        padding: 0 0 0 28px;
    }
    .profile .username {
        justify-content: center;
    }
    .profile .username svg {
        width: 57px;
    }
    .appointments {
        padding: 0 20px;
    }
    .item-total {
        margin: 0 0 20px;
    }
    .calender {
        padding: 0 0 0 20px;
    }
    .calender .setting-appointment {
        display: block !important;
        text-align: center;
        margin: 15px 0 0;
    }
    .calender .setting-appointment .select-time {
        margin: 20px 0;
    }
}

@media only screen and (max-width:575px) {
    .fav-row {
        max-width: 575px;
        overflow: scroll;
    }
    .music .active-music .music-img {
        margin: 0 auto 40px;
    }
    .player {
        width: 100%;
    }
    .player {
        width: 100%;
        position: relative;
        transform: unset;
        right: unset;
        display: block;
    }
    .controls {
        margin: 40px 0 0;
    }
    .timeHolder {
        bottom: 50px;
        margin: 0px 3%;
        width: 92%;
    }
    .player .progressbar {
        bottom: 56px;
        width: 76%;
        margin: 0 11%;
    }
    .bed .vertical-controller {
        right: -21%;
    }
}

@media only screen and (max-width:440px) {
    .hp-row {
        padding: 0 10px;
    }
    .hp-row {
        justify-content: center;
    }
    .hp-row .hp-card h5 {
        font-size: 16px;
    }
    .hp-row .hp-card:nth-child(2n) {
        margin-right: 0;
    }
    .player .progressbar {
        bottom: 56px;
        width: 72%;
        margin: 0 13%;
    }
    .bed .vertical-controller {
        right: -28%;
    }
    .profile .username {
        padding: 0 40px;
    }
    .hp-row {
        padding: 0 10px;
    }
    .hp-row {
        justify-content: center;
    }
    .profile .hp-row .hp-card h5 {
        font-size: 16px;
    }
    .coffee .hp-row .hp-card {
        width: 160px;
        height: 280px;
    }
    .mr-3 svg {
        width: 56px;
    }
    .back-arrow svg {
        width: 16px;
    }
    .btn {
        color: #232323 !important;
        background: linear-gradient(180deg, white, #a8a8a8);
        width: 85px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        border-radius: 6px;
        border: none;
    }
    .btn1 {
        width: 150px;
        height: 50px;
        background: linear-gradient(180deg, #F39200, #E94E1B);
        color: #fff !important;
        font-size: 20px;
    }
    .btninput {
        display: flex;
        margin-top: 20px;
    }
    .btninput input[type=number] {
        outline: none;
        background: #ffffff;
        border: none;
        max-width: 42px;
        height: 40px;
        border-radius: 6px;
        font-size: 20px;
        font-weight: 600;
        color: #232323;
        margin-right: 10px;
        padding: 0;
        text-align: center;
    }
}
