/*   fonts  */
@font-face {
    font-family: 'PoppinsRegular';
    src: url('./../fonts/Poppins-Regular.ttf');
  }
  
  /* global css  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #232323;
}
a:hover {
    color: #232323;
    text-decoration: none;
}

input,button {
    outline: none;
}

button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

ul,ol,figure {
    list-style: none;
    margin: 0;
}

.hp-card {
    background-image: linear-gradient(#434343, #0F1217);
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-direction: column;
   box-shadow: 0 7px 20px 0 rgba(0, 0,0, 0.45);
   overflow: hidden;
}
.hp-card h5{
    color: #fff;
    font-family: 'PoppinsRegular';
    margin: 0 0 20px;
}

.hp-card::after {
    content: "";
    display: block;
    position: absolute;
    width: 120%;
    height: 120px;
    bottom: -50px;
    background-color: #fff;
    opacity: 0.05;
    transform: rotateZ(12deg);
}

body {
    pointer-events: none;
}

.wrapper{
    background: url('./../images/app-background.png') no-repeat top center;
    background-size: cover;
    pointer-events: none;
    max-width:1280px;
    margin: 0 auto;
}

/* header css */

.header{
    padding: 24px 20px 0 17px;
    display: flex;
    justify-content: space-between;
}

.header .logo img{
    width: 100%;
}

.header .time-wrap {
   text-align: center;
   margin: 0 22px 0 0;
}

.header .time-wrap .date {
   font-size: 75px;
   line-height: 1;
   color: #232323;
}
.header .time-wrap .time {
    font-size: 20px;
    line-height: 100px;
    color: #232323;
 }

 .header .weather img {
    margin: 11px 0 4px;
    width: 80px;
 }

 .header .toggler-btn {
     display: none;
 }

/* homes css */
.home{
    padding: 32px 0 0 138px;
}

.hp-row{
    display: flex;
    flex-wrap: wrap;
}

.hp-row .hp-card {
   min-width: 234px;
   min-height: 245px;
   margin: 0 22px 15px 0;
}

.hp-row  .hp-card h5{
    font-size: 30px;
}

.home .fav-title {
    font-weight: 400;
    font-size: 22px;
    margin: 37px 0 0;
}

.fav-row {
    display: flex;
    padding: 15px 0 20px;
}

.fav-row .hp-card {
    min-width: 132px;
    min-height: 140px;
    margin: 0 15px 0 0;
 }


 .fav-row .hp-card  img{
     width: 55px;
 }

 .fav-row  .hp-card h5{
    font-size: 16px;
}

/* nav css */

.nav-bar{
   pointer-events: none;
   margin: 20px 0 0;
}

.nav-bar .menu {
    display: flex;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.nav-bar .menu .menu-item {
    width: calc(100% / 7);
    text-align: center;
    position: relative;
}

.img{
    position: absolute;
    top: 0;
    width: 140%;
    bottom: 0; 
    right: 0;   
    height: 100%; 
 }


.nav-bar .menu .menu-item:nth-child(n + 5) .img{
    right: 0; 
    text-align: right;
}
.nav-bar .menu .menu-item:nth-child(-n+3) .img{
    left: 0; 
}

.nav-bar .menu .menu-item:nth-child(1) {
    z-index: 2;
}
.nav-bar .menu .menu-item:nth-child(2) {
    z-index: 1;
}
.nav-bar .menu .menu-item:nth-child(2) .img {
    left: -26%;
    width: 170%;
}
.nav-bar .menu .menu-item:nth-child(3) .img {
    left: -36%;
    width: 180%;
}
.nav-bar .menu .menu-item:nth-child(4) {
    z-index: 1;
}
.nav-bar .menu .menu-item:nth-child(4) .img{
    left: -48%;
    width: 200%;
}
.nav-bar .menu .menu-item:nth-child(5) .img{
    right: -52%;
    width: 180%;
 }

.nav-bar .menu .menu-item:nth-child(6) .img{
    right: -34%;
    width: 170%;  
 }


.nav-bar .menu .menu-item .link {
   color: #232323;
   z-index: 1;
   position: relative;
   padding: 45px 0 10px;
   display: block;
   pointer-events: all;
}

.nav-bar .menu .menu-item:nth-child(3)  .link,
.nav-bar .menu .menu-item:nth-child(2)  .link{
    padding: 45px 15% 0 0%;
}

.nav-bar .menu .menu-item:nth-child(4)  .link{
    right: -7%;
}

.nav-bar .menu .menu-item:nth-child(5)  .link{
    padding: 45px 0 0 50%  ;
}

.nav-bar .menu .menu-item:nth-child(6)  .link{
    padding:52px 0% 0 25%;
}

.nav-bar .menu .menu-item .link span{
    font-size: 18px;
    margin:10px 0 0 ;
    display: block;
}

.volume {
    padding: 32px 0 0 97px;
}
.volume-wrapper {
    margin: 90px auto 184px;
    max-width: 980px;
    border-radius: 15px;
    box-shadow: 0 7px 20px 0 rgba(0, 0,0, 0.45);
    background-image: linear-gradient(#434343, #0F1217);
    padding: 70px 48px;
}

.volume-wrapper .action-btn{
    width: 38px;
    height: 38px;
    border-radius: 3px;
    margin: 0 20px 0 47px;
}

.volume-bar{
 width: 527px;
 height: 15px;
 border-radius: 10.5px;
 /* background: #ffffff; */
 background-image: linear-gradient(#E6E6E6, #FFFFFF);
}

/* media queries */

@media only screen and (max-width:1200px) {
  .home{
      padding: 32px 0 0 7.5%;
  }
}

@media only screen and (max-width:767px) {
    .header .logo {
        width: 200px;
    }
    .header .toggler-btn{
        display: block;
        background: transparent;
        border: none;
    }
    .img{
        display: none;
    }
    .nav-bar {
        border-radius: 40px 40px 0 0;
        background: #fff;
        border-top: 2px solid #dfdfdf;
        padding: 0 12px;
    }

    .nav-bar .menu {
        pointer-events: all;
        overflow: auto;
    }

    .nav-bar .menu .menu-item {
        width: calc(100% / 5);
    }

    .nav-bar .menu .menu-item .link span {
        font-size: 12px;
    }
    .nav-bar .menu .menu-item .link img {
        width: 25px;
    }

    .nav-bar .menu .menu-item:nth-child(2) {
        z-index: 0;
    }
    
    .nav-bar .menu .menu-item:nth-child(3) {
        z-index: 0;
    }

    .nav-bar .menu .menu-item .link{
        padding: 10px 0 2px 0;
        right: 0 !important;
    }

    .nav-bar .menu .menu-item:nth-child(6) .link{
        padding: 10px 0 2px 0;
    }

    .nav-bar .menu .menu-item:nth-child(5) .link {
        padding: 10px 0 2px 0;
    }

    .nav-bar .menu .menu-item:nth-child(3) .link,
    .nav-bar .menu .menu-item:nth-child(2) .link {
        padding: 10px 0 2px 0;
    }
     
    .home{
        padding: 32px 0 0 25px;
    }

    .hp-row .hp-card {
        min-width: 160px;
        min-height: 160px;
    }

    .hp-row .hp-card h5 {
        font-size: 20px;
    }
    .hp-row .hp-card .figure img {
        width: 54px;
    }

    .header .time-wrap {
        display: none;
    }

    .header .weather{
        display: none;
    }
}

@media only screen and (max-width:640px) { 
    .hp-row {
       padding: 0 20px;
    }

    .hp-row .hp-card{
        margin: 0 15px 15px 0;
    }


    .home{
        padding: 32px 0 0;
    }
    .home .fav-title {
        margin: 37px 0 0 20px;
    }
    .fav-row {
        padding: 15px 20px 60px;
        overflow: auto;
        pointer-events: all;
    }
    .nav-bar {
        margin: 0;
    }
}

@media only screen and (max-width:575px) { 
    .fav-row {
        max-width: 575px;
        overflow: scroll;
    }
    .nav-bar .menu .menu-item {
        min-width: 85px;
    }
}

@media only screen and (max-width:440px) { 
    .hp-row{
        padding: 0 10px;
    }
    .hp-row {
      justify-content: center;
    }

    .hp-row .hp-card h5 {
        font-size: 16px;
    }
    .hp-row .hp-card:nth-child(2n) {
        margin-right: 0;
    }
}
